@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.tooltip {
  max-width: 150px;
  position: absolute;
  z-index: 200;
  background: #00000099;
  box-shadow: 0 0 0 2px #FB5, 0 0 0 6px #00000099;
  padding: 10px;
  color: #FFFFFF;
  font: bold 14px 'IBM Plex Mono', monospace;
  border-radius: 2px;
}